<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <roleManager enabled="true" />
  </system.web>
  <connectionStrings>
    <add name="BUEnrolmentContext" connectionString="Data Source=(LocalDB)\V11.0;AttachDbFilename=|DataDirectory|BUEnrolment.mdf;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Result Grade definition -->
    <add key="HighDistinction" value="85"/>
    <add key="Distinction" value="75"/>
    <add key="Credit" value="65"/>
    <add key="Pass" value="50"/>
    <add key="Fail" value="0"/>
  </appSettings>
</configuration>