<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <roleManager enabled="true" />
  </system.web>
  <connectionStrings>
    <add name="BUEnrolmentContext" connectionString="Data Source=(LocalDB)\V11.0;AttachDbFilename=|DataDirectory|BUEnrolment.mdf;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>