@model IList<BUEnrolment.Models.Result>

@{
    ViewBag.Title = "Details";
}

<h2>Results</h2>

<table>
    <tr>
        <th>
            @Html.DisplayName("Subject Name")
        </th>
        <th>
            @Html.DisplayName("Mark")
        </th>
        <th></th>
    </tr>
    @foreach (var result in Model)
    {
        <tr>
        <td>
            @Html.DisplayFor(model => result.subject.Name)
        </td>
        <td>
             @Html.DisplayFor(model => result.Mark)
        </td>
    </tr>
    }
</table>